.algorism-addition-input-correct {
    background-color: #80ff80;
}

.algorism-addition-input-incorrect {
  background-color: #ff9980;
}

.algorism-addition-input-unnecessary {
  background-color: #ff9980;
}

.algorism-addition-input-missing {
  background-color: #ffff99;
}

.algorism-addition-input-correct-empty {
  background-color: 	#f0f0f5;
}

table.algorism-addition-table {
  font-size: 2em;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color:  azure;
  border-collapse: collapse;
}

tr.algorism-addition-result-tr {
  border-top: 3px solid #000000;
}

td.algorism-addition-static-td, td.algorism-addition-editable-td {
  border: 1px solid #66a3ff;
  text-align: center;
}

input.algorism-addition-input {
  font-size: 1.0em;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  width: 1em;
  text-align: center;
  border: none;
}
